build:x86_64 --platforms=//platforms:kernel_x86_64
build:x86_64_user --platforms=//platforms:user_x86_64
run:x86_64 --platforms=//platforms:kernel_x86_64
build:aarch64 --platforms=//platforms:kernel_aarch64
build:aarch64_user --platforms=//platforms:user_aarch64
run:aarch64 --platforms=//platforms:kernel_aarch64
build --@rules_rust//rust/settings:no_std=alloc

build --action_env=PATH
build:x86_64 --platform_suffix=x86_64
build:x86_64_user --platform_suffix=x86_64_user
build:aarch64 --platform_suffix=aarch64
build:aarch64_user --platform_suffix=aarch64_user
build --host_platform=@platforms//host

run:x86_64 --platform_suffix=x86_64
run:aarch64 --platform_suffix=aarch64
run --host_platform=@platforms//host
