[package]
name = "kernel"
edition = "2024"

[features]
default = []

[lib]
crate-type = ["staticlib"]
path = "src/main.rs"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
thiserror-no-std = { version = "2.0", features = [] }

[build-dependencies]
bindgen = "0.72"
